$siteBgColorCustom: #f0f0f0;
$sidebarBgColorCustom: #e0e0e0;
$textColorCustom: #272727;
$sidebarTextColorCustom: #272727;
$headlineColorCustom: #272727;
$headingColorCustom: #272727;
$bodyLinkColorCustom: #009fb7;
$navLinkColorCustom: #009fb7;
$sidebarLinkColorCustom: #009fb7;
$footerTextColorCustom: #696773;
$buttonTextColorCustom: #f0f0f0;
$buttonHoverTextColorCustom: #272727;
$buttonBgColorCustom: #009fb7;
$buttonHoverBgColorCustom: #fed766;
$borderColorCustom: #999999;
